.text-container {
  background-color: white;
  border-radius: 2rem;
  padding: 2rem;
  width: 400px;
  margin: 0 auto;
  justify-content: center;
}

img {
  display: block;
  width: 200px;
  height: auto;
  margin: auto;
}